@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    padding: 100px;
}
.submit-area,
.deposit-box, 
.withdraw-box {
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px gray;
    text-align: center;
}
.submit-area h4 {
    margin-bottom: 20px;
}
#trx-area {
    display: none;
}
.deposit,
.withdraw,
.balance {
    padding: 50px;
    margin: 10px;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;

}
.deposit {
    background-color: #10ac84;
}
.withdraw {
    background-color: #ee5253;
}
.balance {
    background-color: #ff9f43;
}
